<div class="h-[90vh] px-2">
  <div class="flex flex-row">
    <!-- <button class="w-full rounded-full py-1" (click)="accordionFavorite('partite')"
      [ngClass]="accordionPartite ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white'">
      Partite
    </button> -->
    <button [disabled]="tokenVerify==false" class="w-full rounded-full py-1" (click)="accordionFavorite('squadre')"
      [ngClass]="accordionSquadre ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white'">
      Squadre
    </button>
    <button [disabled]="tokenVerify==false" class="w-full rounded-full py-1" (click)="accordionFavorite('giocatori')"
      (click)="loadingPlayers()" [ngClass]="accordionGiocatori ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white'">
      Giocatori
    </button>
  </div>

  <div class="flex justify-center items-center drop-shadow-lg" *ngIf="tokenVerify == false">
    <div class="w-fit flex flex-col bg-hoops-secondary rounded-md text-center text-white p-4 mt-[20vh] mx-8">
      <h2 class="text-xl my-4 font-bold drop-shadow">ACCESSO NON EFFETTUATO</h2>
      <p class="my-4 drop-shadow">Per utilizzare la sezione preferiti devi effettuare l'accesso alla piattaforma</p>
      <div class="flex flex-col items-center">
        <a routerLink="/accesso"
          class="drop-shadow py-3 my-3 w-full h-fit rounded-md text-center text-base font-semibold font-Genera bg-hoops-primary">ACCEDI</a>
        <a routerLink="/registrazione"
          class="drop-shadow py-3 my-3 w-full h-fit rounded-md text-center text-white text-base font-semibold font-Genera bg-hoops-primary">REGISTRATI</a>
      </div>
    </div>
  </div>

  <div *ngIf="tokenVerify == true">

    <!-- <section id="accordionPartite" *ngIf="accordionPartite == true">
    Partite
  </section> -->

    <section id="accordionSquadre" *ngIf="accordionSquadre == true">
      <div *ngIf="isLoadingTeams" class="w-full h-[70vh] flex items-center justify-center">
        <p class="text-center">
          Stiamo preparando il tiro da 3... <i class="fas fa-spinner fa-spin"></i>
        </p>
      </div>
      <div class="h-[80vh]" *ngIf="!favoriteTeams.length">
        <p class="rounded-md p-3 m-4 bg-hoops-primary text-white text-center"> Non hai registrato nessuna squadra.</p>
      </div>
      <div *ngFor="let team of favoriteTeams">
        <div class="flex flex-row justify-center bg-[#94A3B8] items-center py-4 ps-4 pr-7 my-4 rounded-md drop-shadow"
          [ngStyle]="{'background': team.colour+'B3'}">
          <div class="w-3/12 flex justify-center items-center">
            <img class="h-[76px]" [src]="team.logo" alt="">
          </div>
          <div class="w-7/12 text-center text-lg text-white">
            <h1 class="drop-shadow">{{team.nameTeam}}</h1>
          </div>
          <div class="w-1/12 flex items-center justify-center"></div>
          <!--
          TODO: Settare correttamente i bottoni una volta collegato l'api favorite (click)="setFavoriteTeam(teamName)
        -->
          <button>
            <img *ngIf="team" src="../../../assets/img/icone-preferiti/Fav outline.png" alt="">
            <img *ngIf="" src="../../../assets/img/icone-preferiti/Fav Filled.png" alt="">
          </button>
        </div>
      </div>
    </section>

    <section id="accordionGiocatori" *ngIf="accordionGiocatori == true">
      <div *ngIf="isLoadingPlayers" class="w-full h-[70vh] flex items-center justify-center">
        <p class="text-center">
          Stiamo preparando il tiro da 3... <i class="fas fa-spinner fa-spin"></i>
        </p>
      </div>
      <div class="h-[80vh]" *ngIf="!favoritePlayers.length">
        <p class="rounded-md p-3 m-4 bg-hoops-primary text-white text-center"> Non hai registrato nessun giocatore.</p>
      </div>
      <div *ngFor="let player of favoritePlayers"
        class="w-full flex flex-row justify-center bg-hoops-primary items-center drop-shadow-md text-white my-4 py-3 px-4 rounded-md">
        <div class="w-fit">
          <img class="w-[50px] h-[40px] rounded-full" src="https://via.placeholder.com/80x80" alt="">
        </div>
        <div class="w-full px-4 text-lg">
          <h3>{{player.firstname + ' ' + player.lastname}}</h3>
        </div>
        <div class="w-fit flex items-center">
          <button>
            <img *ngIf="player" src="../../../assets/img/icone-preferiti/Fav outline.png" alt="">
            <img *ngIf="" src="../../../assets/img/icone-preferiti/Fav Filled.png" alt="">
          </button>
        </div>
      </div>
    </section>
  </div>

</div>
