<div class="min-h-[90vh] px-2 pt-2">
  <div class="flex flex-row">
    <button class="w-full rounded-full py-1" (click)="accordionFavorite('partite')" (click)="loadingGames()"
      (click)="updateListGame()" [ngClass]="accordionPartite ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white'">
      Partite
    </button>
    <button [disabled]="tokenVerify==false" class="w-full rounded-full py-1" (click)="accordionFavorite('squadre')"
      (click)="updateListTeam()" (click)="loadingTeams()"
      [ngClass]="accordionSquadre ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white'">
      Squadre
    </button>
    <button [disabled]="tokenVerify==false" class="w-full rounded-full py-1" (click)="accordionFavorite('giocatori')"
      (click)="updateListPlayer()" (click)="loadingPlayers()"
      [ngClass]="accordionGiocatori ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white'">
      Giocatori
    </button>
  </div>

  <div class="flex justify-center items-center drop-shadow-lg" *ngIf="tokenVerify == false">
    <div class="w-fit flex flex-col bg-hoops-secondary rounded-md text-center text-white p-4 mt-[20vh] mx-8">
      <h2 class="text-xl my-4 font-bold drop-shadow">ACCESSO NON EFFETTUATO</h2>
      <p class="my-4 drop-shadow">Per utilizzare la sezione preferiti devi effettuare l'accesso alla piattaforma</p>
      <div class="flex flex-col items-center">
        <a routerLink="/accesso"
          class="drop-shadow py-3 my-3 w-full h-fit rounded-md text-center text-base font-semibold font-Genera bg-hoops-primary">ACCEDI</a>
        <a routerLink="/registrazione"
          class="drop-shadow py-3 my-3 w-full h-fit rounded-md text-center text-white text-base font-semibold font-Genera bg-hoops-primary">REGISTRATI</a>
      </div>
    </div>
  </div>

  <div *ngIf="tokenVerify == true">

    <section id="accordionPartite" *ngIf="accordionPartite == true">
      <div *ngIf="isLoadingGames" class="w-full min-h-[70vh] flex items-center justify-center">
        <p class="text-center">
          Stiamo preparando il tiro da 3... <i class="fas fa-spinner fa-spin"></i>
        </p>
      </div>
      <div class="h-[80vh]" *ngIf="!favoriteGames.length">
        <p class="rounded-md p-3 m-4 bg-hoops-primary text-white text-center"> Non hai registrato nessuna squadra.</p>
      </div>
      <table *ngIf="!isLoadingGames && favoriteGames.length" class="h-[80vh] w-full border-none text-white md:w-[60vh]">
        <tbody class="text-center">
          <tr *ngFor="let game of favoriteGames"
            class="w-full h-[160px] flex flex-col ps-6 pb-5 my-4 rounded-2xl shadow-md text-xs"
            [ngStyle]="{background: 'linear-gradient(0.25turn,' + game.homeColour + 'B3 ,' + game.visitorsColour + 'B3 )'}">
            <td class="flex justify-end pt-2 pr-2">
              <button class="w-[26px]" (click)="setFavoriteGame(game.gameId)">
                <img class="absolute" *ngIf="!isTeamInFavorites('game', game.gameId)"
                  src="../../../assets/img/icone-preferiti/Fav outline.png" alt="Icona Preferiti">
                <img class="absolute" *ngIf="isTeamInFavorites('game', game.gameId)"
                  src="../../../assets/img/icone-preferiti/Fav Filled.png" alt="Icona Preferiti">
              </button>
            </td>
            <td class="h-full max-h-[123px] flex fle-row pr-6 mt-5 justify-center items-center">
              <div class="w-full flex justify-center items-center">
                <div class="w-[109px] h-full flex flex-col items-center justify-center">
                  <img [routerLink]="'/squadra/'+this.game.homeTeamName" [src]="game.homeTeamLogo"
                    alt="Loog {{game.homeTeamName}}" class="max-h-[78px] h-fit w-fit mb-2 drop-shadow-md" />
                  <p class="drop-shadow">{{ game.homeTeamName }}</p>
                </div>
              </div>
              <div class="w-full h-fit flex flex-col justify-center items-center">
                <p class="h-full my-2 text-lg text-center flex justify-center items-center drop-shadow-md"
                  [ngClass]="game.risultato != '0 - 0' ? '' : 'text-sm' ">
                  {{ game.risultato != '0 - 0' ? game.risultato : formatData(game.start) }}</p>
                <!-- Formattazione dell'ora -->
                <button [routerLink]="'/partita/' + this.game.gameId"
                  class="bg-white text-black w-fit my-1 py-1 px-4 font-thin rounded-full drop-shadow disabled:bg-opacity-60 disabled:text-opacity-60 disabled:drop-shadow-none"
                  [disabled]="game.risultato == '0 - 0'">
                  Preview
                </button>
              </div>
              <div class="w-full flex justify-center items-center">
                <div class="w-[109px] h-full flex flex-col items-center justify-center">
                  <img [routerLink]="'/squadra/'+this.game.visitorTeamName" [src]="game.visitorTeamLogo"
                    alt="Logo {{game.visitorTeamName}}" class="max-h-[78px] h-fit w-fit mb-2 drop-shadow-md" />
                  <p class="drop-shadow">{{ game.visitorTeamName }}</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="accordionSquadre" *ngIf="accordionSquadre == true">
      <div *ngIf="isLoadingTeams" class="w-full h-[70vh] flex items-center justify-center">
        <p class="text-center">
          Stiamo preparando il tiro da 3... <i class="fas fa-spinner fa-spin"></i>
        </p>
      </div>
      <div class="h-[80vh]" *ngIf="!favoriteTeams.length">
        <p class="rounded-md p-3 m-4 bg-hoops-primary text-white text-center"> Non hai registrato nessuna squadra.</p>
      </div>
      <div *ngFor="let team of favoriteTeams">
        <div
          class="flex flex-row justify-center min-h-[120px] max-h-[120px] bg-[#94A3B8] items-center py-4 ps-4 pr-7 my-4 rounded-md drop-shadow"
          [ngStyle]="{'background': team.colour+'B3'}">
          <div class="w-4/12 flex justify-center items-center">
            <img [routerLink]="'/squadra/'+this.team.nameTeam" class="h-fit w-fit max-h-[90px] " [src]="team.logo"
              alt="">
          </div>
          <div class="w-6/12 text-center text-lg text-white">
            <h1 class="drop-shadow">{{team.nameTeam}}</h1>
          </div>

          <div class="w-1/12 flex items-center justify-center"></div>
          <button (click)="setFavoriteTeam(team.nameTeam)">
            <img *ngIf="!isTeamInFavorites('team', team.idTeam)"
              src="../../../assets/img/icone-preferiti/Fav outline.png" alt="Icona Preferiti">
            <img *ngIf="isTeamInFavorites('team', team.idTeam)" src="../../../assets/img/icone-preferiti/Fav Filled.png"
              alt="Icona Preferiti">
          </button>
        </div>
      </div>
    </section>

    <section id="accordionGiocatori" *ngIf="accordionGiocatori == true">
      <div *ngIf="isLoadingPlayers" class="w-full h-[70vh] flex items-center justify-center">
        <p class="text-center">
          Stiamo preparando il tiro da 3... <i class="fas fa-spinner fa-spin"></i>
        </p>
      </div>
      <div class="h-[80vh]" *ngIf="!favoritePlayers.length">
        <p class="rounded-md p-3 m-4 bg-hoops-primary text-white text-center"> Non hai registrato nessun giocatore.</p>
      </div>
      <div *ngFor="let player of favoritePlayers"
        class="w-full flex flex-row justify-center bg-hoops-primary items-center drop-shadow-md text-white my-4 py-3 px-4 rounded-md">
        <div class="w-fit">
          <img class="w-[50px] h-[40px]" [src]="player.img" alt="">
        </div>
        <div class="w-full px-4 text-lg">
          <h3>{{player.firstname + ' ' + player.lastname}}</h3>
        </div>

        <div class="w-fit flex items-center">
          <button (click)="setFavoritePlayers(player.idPlayer)">
            <img *ngIf="!isTeamInFavorites('player', player.idPlayer)"
              src="../../../assets/img/icone-preferiti/Fav outline.png" alt="Icona Preferiti">
            <img *ngIf="isTeamInFavorites('player', player.idPlayer)"
              src="../../../assets/img/icone-preferiti/Fav Filled.png" alt="Icona Preferiti">
          </button>
        </div>
      </div>
    </section>
  </div>

</div>
