<div class="h-[90vh] relative flex flex-col items-center">
  <form class="mt-24" [formGroup]="loginForm">
    <div class="relative mb-4">
      <h3 class="mb-[44px] text-center text-black text-[28px] font-semibold font-Genera">
        NBA Espresso
      </h3>
      <input formControlName="email" type="email" id="email" name="email" placeholder="Email"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-[#E58C38] text-neutral-500 text-opacity-60 text-xl font-light font-Poppins" />
      <span class="absolute bottom-0 left-0 right-0 h-[2px] bg-[#E58C38]"></span>
    </div>
    <div class="relative mb-4">
      <input formControlName="password" type="password" id="password" name="password" placeholder="Password"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-[#E58C38] text-neutral-500 text-opacity-60 text-xl font-light font-Poppins" />
      <span class="absolute bottom-0 left-0 right-0 h-[2px] bg-[#E58C38]"></span>
    </div>
    <button (click)="signin()" type="submit"
      class="p-2 w-[300px] h-[35] rounded-[5px] border border-black text-center text-white text-base font-semibold font-Genera bg-[#E58C38]">
      LOGIN
    </button>
  </form>
</div>
