<footer class=" pb-16">
  <div
    class="bg-hoops-primary flex flex-row items-center justify-center px-[73px] py-[38px]"
  >
    <img src="../../assets/img/icone-footer/Logo.svg" alt="" />
  </div>
  <div class="px-[68px] py-[38px] text-center">
    <h3 class="text-lg font-bold pb-3">Vieni a trovarci sui nostri social</h3>
    <div class="flex flex-row justify-around">
      <a href="">
        <img src="../../assets/img/icone-footer/Facebook.png" alt="" />
      </a>
      <a href="">
        <img src="../../assets/img/icone-footer/Instagram.png" alt="" />
      </a>
      <a href="">
        <img src="../../assets/img/icone-footer/TikTok.png" alt="" />
      </a>
    </div>
  </div>
  <div class="bg-hoops-primary px-[99px] py-[15px]">
    <ul class="flex flex-col justify-center items-center text-white font-bold md:flex-row">
      <li><a href="">Cos'è HoopsData</a></li>
      <li><a href="">Invia un feedaback</a></li>
      <li><a href="">Contattaci</a></li>
      <li><a href="">Privacy & Cookie Policy</a></li>
    </ul>
  </div>
</footer>
