<footer class="w-full align-bottom pb-16 md:pb-0">
  <div class="w-full bg-hoops-primary flex flex-row items-center justify-center px-[73px] py-[38px]">
    <img src="../../assets/img/icone-footer/Logo.svg" alt="">
  </div>
  <div class="w-full px-[68px] py-[38px] text-center">
    <h3 class="w-full text-lg font-bold pb-3">Vieni a trovarci sui nostri social</h3>
    <div class="flex flex-row justify-around md:px-[40%]">
      <a href="">
        <img src="../../assets/img/icone-footer/Facebook.png" alt="" />
      </a>
      <a href="">
        <img src="../../assets/img/icone-footer/Instagram.png" alt="" />
      </a>
      <a href="">
        <img src="../../assets/img/icone-footer/TikTok.png" alt="" />
      </a>
    </div>
  </div>

  <div class="w-full bg-hoops-primary px-[99px] py-[15px]">
    <ul class="w-full flex flex-col justify-center items-center text-white font-bold">
      <li><a href="">Cos'è HoopsData</a></li>
      <li><a href="">Invia un feedaback</a></li>
      <li><a href="">Contattaci</a></li>
      <li>
        <a href="https://www.iubenda.com/privacy-policy/83285298" target="_blank"
          class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">
          Privacy Policy</a>
        <script type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);
        </script>
      </li>
    </ul>
  </div>
</footer>