<!-- Tabs -->
<app-partite-page></app-partite-page>

<!-- Calendario -->
<app-calendar></app-calendar>

<!-- Tabella -->
<table *ngIf="games && games.length" class="w-full border-none">
  <tbody class="text-center">
    <tr *ngFor="let game of games" class="w-full flex p-6 my-3 rounded-2xl shadow-md"
      [style.background]="getGradient(game)">
      <td class="w-full">
        <div class="flex flex-col items-center">
          <img [src]="game.homeTeamLogo" alt="Team A" class="h-16 w-fit mb-2">
          <p>{{ game.homeTeamName }}</p>
        </div>
      </td>
      <td class="w-full flex flex-col justify-center items-center">
        <p class="my-2">{{ game.start | date: 'HH:mm' }}</p>
        <p class="my-2 text-lg">{{ game.risultato }}</p>
        <!-- Formattazione dell'ora -->
        <a [routerLink]="'/partita/' + this.game.gameId" class="bg-hoops-secondary my-2 w-fit px-2 rounded-full">
          Preview </a>
      </td>
      <td class="w-full">
        <div class="flex flex-col items-center">
          <img [src]="game.visitorTeamLogo" alt="Team B" class="h-16 w-fit mb-2">
          <p>{{ game.visitorTeamName }}</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- SE non ci sono partite -->
<div *ngIf="!games || !games.length">
  <p>Nessun gioco disponibile al momento.</p>
</div>
