<div class="relative flex flex-col items-center">
  <img src="./assets/HoopsData_logo.svg" alt="Descrizione immagine" class="mb-[-1.5rem] w-full h-auto" />
  <a routerLink="/registrazione" class="absolute top-72 p-2 mt-2 w-[300px] h-[35] rounded-[5px] border border-black text-center text-white text-base font-semibold font-Genera bg-[#8D66B7]">REGISTRATI</a>
  <a routerLink="/accesso" class="absolute top-80 p-2 mt-6 w-[300px] h-[35] rounded-[5px] border border-black text-center text-base font-semibold font-Genera">ACCEDI</a>
</div>