<div class="relative flex flex-col items-center">
  <form class="mt-24">
    <div class="relative mb-4">
      <h3 class="">Lieto di conoscerti...</h3>
      <input
        type="text"
        id="nome"
        name="nome"
        placeholder="Nome"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-[#8D66B7] text-neutral-500 text-opacity-60 text-xl font-light font-Poppins"
      />
      <span
        class="absolute bottom-0 left-0 right-0 h-[2px] bg-[#8D66B7]"
      ></span>
    </div>
    <div class="relative mb-4">
      <input
        type="text"
        id="cognome"
        name="cognome"
        placeholder="Cognome"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-[#8D66B7] text-neutral-500 text-opacity-60 text-xl font-light font-Poppins"
      />
      <span
        class="absolute bottom-0 left-0 right-0 h-[2px] bg-[#8D66B7]"
      ></span>
    </div>
    <a
      routerLink=""
      type="submit"
      class="p-2 w-[300px] h-[35] rounded-[5px] border border-black text-center text-white text-base font-semibold font-Genera bg-[#8D66B7]"
    >
      Continua
    </a>
  </form>
</div>
