<div class="flex flex-row px-2">
  <button routerLink="/partite/risultati" (click)="selectorPage('risultati')"
    [ngClass]="sectionResult ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white text-black'"
    class="w-full py-1 rounded-full">
    Risultati
  </button>

  <button routerLink="/partite/programmate" (click)="selectorPage('programmate')"
    [ngClass]="sectionProgram ? 'bg-[#8D66B7] text-white font-semibold' : 'bg-white text-black'"
    class="w-full py-1 rounded-full">
    Programmate
  </button>
</div>
