<div>
  <div>
    <input (click)="showList()" class="bg-slate-300 rounded-full px-2" type="text" placeholder="Search"
      [(ngModel)]="searchText" #searchbar>
  </div>


  <div *ngIf="isVisible" class="absolute bg-white">
    <div class="flex flex-row justify-center items-center px-2" *ngFor="let item of list | filter: searchText">
      <img class="w-fit h-6" [src]="item.logo" alt="">
      <div class="w-full ps-3 py-1">{{item.nameTeam}}</div>
    </div>
    <div *ngIf="(list | filter: searchText).length === 0">
    </div>
  </div>
</div>
