<nav class="orange p-1">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <a routerLink="/partite/risultati" class="text-white text-2xl font-bold"> Logo </a>
    <img src="../../assets/HoopsData_logo.svg" alt="" width="50" height="50">

    <!-- Search bar -->
    <div class="w-1/2 md:w-1/4 mx-auto">
      <app-search-bar class="flex-1"></app-search-bar>
    </div>

    <!-- Links -->
    <div class="flex space-x-4">
      <a routerLink="/profilo" class="text-white hover:text-gray-300"> Profilo </a>
    </div>
  </div>
</nav>
