<div class="flex flex-row px-2">
  <button routerLink="/partite/risultati" class="w-full py-1 rounded-full bg-hoops-primary text-white font-bold">
    Risultati
  </button>

  <button routerLink="/partite/programmate" class="w-full py-1 rounded-full">
    Programmate
  </button>
</div>

<!-- Calendario -->
<app-calendar (sendDateEvent)="loadingTeams($event)"></app-calendar>

<div *ngIf="isLoading" class="w-full h-[70vh] flex items-center justify-center">
  <p class="text-center">
    Stiamo preparando il tiro da 3... <i class="fas fa-spinner fa-spin"></i>
  </p>
</div>

<!-- Tabella -->
<div class="min-h-[90vh]" *ngIf="!games.length">
  <p class="rounded-md p-3 m-4 bg-hoops-primary text-white text-center"> Nessuna partita trovata. Riprova più tardi</p>
</div>
<table *ngIf="!isLoading && games && games.length" class="h-[80vh] w-full border-none text-white md:w-[60vh]">
  <tbody class="text-center">
    <tr *ngFor="let game of games" class="w-full h-[150px] flex p-5 mb-2 rounded-2xl shadow-md text-xs"
      [ngStyle]="{background: 'linear-gradient(0.25turn,' + game.homeColour + 'B3 ,' + game.visitorsColour + 'B3 )'}">
      <td class="w-full flex justify-center items-center">
        <div class="w-[109px] h-full flex flex-col items-center justify-center">
          <img [src]="game.homeTeamLogo" alt="Team A" class="h-[65px] w-fit mb-2 drop-shadow-md" />
          <p class="drop-shadow">{{ game.homeTeamName }}</p>
        </div>
      </td>
      <td class="w-full h-full flex flex-col justify-center items-center">
        <p class="h-full my-2 text-lg text-center flex justify-center items-center">{{ game.risultato }}</p>
        <!-- Formattazione dell'ora -->
        <a [routerLink]="'/partita/' + this.game.gameId"
          class="bg-white text-black w-fit my-1 py-1 px-4 font-thin rounded-full">
          Preview
        </a>
      </td>
      <td class="w-full flex justify-center items-center">
        <div class="w-[109px] h-full flex flex-col items-center justify-center">
          <img [src]="game.visitorTeamLogo" alt="Team B" class="h-[65px] w-fit mb-2 drop-shadow-md" />
          <p class="drop-shadow">{{ game.visitorTeamName }}</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
