<div class="flex-1">
    <div class="flex flex-row">
        <!-- First Column (col-6) -->
        <div class="w-1/2 flex-1 py-2 px-4 text-center purple text-white ">
            <!-- Tab "Risultati" -->
            <button routerLink="/classifiche/ovest" routerLinkActive="active" class="active">Ovest</button>
        </div>
        <!-- Second Column (col-6) -->
        <div class="w-1/2 flex-1 py-2 px-4 text-center bg-opacity-10 purple">
            <!-- Tab "Risultati" -->
            <button routerLink="/classifiche/est" class="!active">Est</button>
        </div>
    </div>

    <!-- Inside est-page.component.html -->
    <div class="container mx-auto ">
        <table class="flex flex-1 w-full md:w-1/2 lg:w-full flex-row">
            <thead class="w-full">
                <tr class="flex flex-row justify-center items-center p-2 purple justify-center">
                    <!-- Position and NameTeam in col-6 -->
                    <th class="w-1/2 ">
                        <p class="text-center ">N: </p>
                    </th>
                    <th class="w-1/2 ">
                        <!-- Logo Da Aggiungere -->
                        <div class="w-1/2"></div>
                        <!-- NameTeam  -->
                        <div class="w-1/2">
                            <p class="text-center ">Squadra</p>
                        </div>
                    </th>
                    <!-- Other four fields in col-6 -->
                    <th class="w-1/5">
                        <p class="text-center">GP: </p>
                    </th>
                    <th class="w-1/5">
                        <p class="text-center">W: </p>
                    </th>
                    <th class="w-1/5">
                        <p class="text-center">L: </p>
                    </th>
                    <th class="w-1/5">
                        <p class="text-center">%: </p>
                    </th>
                    <th class="w-1/5">
                        <p class="text-center">DP: </p>
                    </th>
                </tr>
            </thead>
            <!-- <tbody id="tableBody"></tbody> -->
        </table>
    </div>
</div>