.purple {
    background-color: #8D66B7;
}

.active {
    background-color: #8D66B7;
    /* Change the color to your preference */
    color: #fff;
    /* Change the text color to your preference */
}