<div class="h-[90vh] flex flex-col">
  <!-- Da inserire l'immagine effettiva e adattare con padding -->
  <img src="./assets/HoopsData_logo.svg" alt="Descrizione immagine" class="w-full h-fit" />
  <div class="flex flex-col items-center">
    <a routerLink="/registrazione"
      class="p-2 mt-2 w-[300px] h-[35] rounded-[5px] border border-black text-center text-white text-base font-semibold font-Genera bg-hoops-primary">REGISTRATI</a>
    <a routerLink="/accesso"
      class="p-2 mt-6 w-[300px] h-[35] rounded-[5px] border border-black text-center text-base font-semibold font-Genera">ACCEDI</a>
  </div>
</div>
