<section class="flex flex-col h-[100vh]">
  <div class="text-center text-black text-[28px] font-semibold font-Genera">Come valuteresti<br />HoopsData?</div>
  <div class="flex star-container justify-center">
    <span class="star text-hoops-secondary">&#9733;</span>
    <span class="star text-hoops-secondary">&#9733;</span>
    <span class="star text-hoops-secondary">&#9733;</span>
    <span class="star text-hoops-secondary">&#9733;</span>
    <span class="star text-hoops-secondary">&#9733;</span>
  </div>
  <!-- Form -->
  <div class="flex flex-col text-black text-xl font-semibold font-Genera justify-center w-full items-center">
    Dicci cosa ne pensi!
    <form class="flex flex-col justify-center">
      <textarea class="w-[300px] h-[300px] border border-black">
      </textarea>
      <button 
        type="submit"
        class="p-2 w-[300px] h-[35] rounded-[5px] border border-black text-center text-white text-base font-semibold font-Genera bg-[#E58C38] mt-5">
        Invia
      </button>
    </form>
  </div>
</section>