<div class="flex-1 px-2">
  <div class="flex flex-row mb-2">
    <!-- First Column (col-6) -->
    <button routerLink="/classifiche/ovest" routerLinkActive="!active" class="w-full py-1 rounded-full text-black">
      Ovest
    </button>

    <button routerLink="/classifiche/est" routerLinkActive="active"
      class="w-full py-1 rounded-full bg-[#8D66B7] text-white font-semibold">
      Est
    </button>
  </div>

  <div *ngIf="isLoadingRanking" class="w-full min-h-[90vh] flex items-center justify-center">
    <p class="text-center text-black">
      Stiamo preparando il tiro da 3... <i class="fas fa-spinner fa-spin"></i>
    </p>
  </div>

  <div class="min-h-[80vh]" *ngIf="!listsRanking.length">
    <p class="rounded-md p-3 m-4 bg-hoops-primary text-white text-center"> Si è verificato un problema riprova più
      tardi.</p>
  </div>

  <div class="flex flex-row">
    <table *ngIf="listsRanking && listsRanking.length" class="w-full text-center">
      <thead class="text-white w-full">
        <tr class="w-full flex flex-row p-2 bg-hoops-primary rounded-md px-[12px]">
          <!-- Position and NameTeam in col-6 -->
          <th class="w-1/12">
            <p>N</p>
          </th>
          <th class="w-5/12">
            <!-- NameTeam  -->
            <p>Classifica</p>
          </th>
          <!-- Other four fields in col-6 -->
          <th class="w-1/12">
            <p>GP</p>
          </th>
          <th class="w-1/12">
            <p>W</p>
          </th>
          <th class="w-1/12">
            <p>L</p>
          </th>
          <th class="w-2/12">
            <p>%</p>
          </th>
          <th class="w-1/12">
            <p>DP</p>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let rank of listsRanking; let i = index"
          class="w-full min-h-[62px] max-h-[62px] flex flex-row items-center justify-between text-center px-[12px] py-[10px]">
          <td class="w-1/12">
            <p class="text-base">{{ i + 1 }}</p>
          </td>
          <!-- riga image / name team-->
          <td class="w-5/12 flex flex-row items-center">
            <img class="h-fit w-full max-w-[40px] lg:h-[15%] lg:w-[15%]" [src]="rank.teamLogo"
              alt="rank.teamName logo" />
            <p class="min-w-[100px] w-full text-sm px-2">{{ rank.teamName }}</p>
          </td>
          <td class="w-1/12">
            <p class="text-base">{{ rank.gamePlayed }}</p>
          </td>
          <td class="w-1/12">
            <p class="text-base">{{ rank.victories }}</p>
          </td>
          <td class="w-1/12">
            <p class="text-base">{{ rank.lose }}</p>
          </td>
          <td class="w-2/12">
            <div>
              <p class="text-base">
                {{ rank.winPercentage }}%
              </p>
            </div>
          </td>
          <td class="w-1/12">
            <p class="text-base">{{ rank.diffPoints }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
