<nav class="bg-white absolute md:relative bottom-0 w-full py-1 px-3">
  <!-- Links -->
  <div class="flex">
    <a routerLink="/partite/risultati" class="text-white w-full text-center hover:font-bold">
      <div class="text-hoops-purple flex flex-col items-center">
        <img src="../../assets/img/icone-navbar-down/icone/Basketball.png" alt="">
        <p>Partite</p>
      </div>
    </a>
    <a routerLink="/classifiche" class="text-white w-full text-center hover:font-bold">
      <div class="text-hoops-purple flex flex-col items-center">
        <img src="../../assets/img/icone-navbar-down/icone/Trophy.png" alt="">
        <p>Classifiche</p>
      </div>
    </a>
    <a routerLink="/preferiti" class="text-white w-full text-center hover:font-bold">
      <div class="text-hoops-purple flex flex-col items-center">
        <img src="../../assets/img/icone-navbar-down/icone/Star.png" alt="">
        <p>Preferiti</p>
      </div>
    </a>
    <a routerLink="/news" class="text-white w-full text-center hover:font-bold">
      <div class="text-hoops-purple flex flex-col items-center">
        <img src="../../assets/img/icone-navbar-down/icone/News.png" alt="">
        <p>News</p>
      </div>
    </a>
  </div>
</nav>
