<nav class="orange p-4 absolute md:relative bottom-0 w-full">
    <!-- Links -->
    <div class="flex justify-between space-x-4 ">
      <a routerLink="/partite/risultati" class="text-white w-full text-center"> Partite </a>
      <a routerLink="/classifiche" class="text-white w-full text-center"> Classifiche </a>
      <a routerLink="/preferiti" class="text-white w-full text-center"> Preferiti </a>
      <a routerLink="/news" class="text-white w-full text-center"> News </a>
      <a routerLink="/more" class="text-white w-full text-center"> ... </a>
    </div>
</nav>
