<nav class="orange p-4 absolute md:relative bottom-0 w-full">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Links -->
    <div class="flex space-x-4 flex-1">
      <a routerLink="/partite/risultati" class="text-white  w-full"> Partite </a>
      <a routerLink="/classifiche" class="text-white w-full"> Classifiche </a>
      <a routerLink="/preferiti" class="text-white w-full"> Preferiti </a>
      <a routerLink="/news" class="text-white w-full"> News </a>
      <a routerLink="/more" class="text-white w-full"> ... </a>
    </div>
  </div>
</nav>
