<nav class="flex items-center p-2 h-[58px]">
  <div class="container flex items-center">
    <!-- Logo -->
    <div class="w-2/12">
      <a routerLink="/partite/risultati">
        <img class="w-fit h-[38px]" src="../../assets/img/Logo.png" width="50" height="50" alt="">
      </a>
    </div>

    <!-- Search bar -->
    <div class="w-8/12 px-5 justify-center">
      <app-search-bar></app-search-bar>
    </div>

    <!-- Links -->
    <div class="flex justify-end w-2/12">
      <a routerLink="/profilo" class="text-white hover:text-gray-300">
        <img class="rounded-full w-[38px] h-[38px]" src="https://via.placeholder.com/38x38" width="50" height="50"
          alt="">
      </a>
    </div>
  </div>
</nav>
