<nav class="flex items-center justify-center p-2 h-[58px] md:h-[68px]">
  <div class="w-full flex items-center">
    <!-- Logo -->
    <div class="w-2/12 md:ps-4">
      <a routerLink="/partite/risultati">
        <img class="w-fit h-[38px] md:h-[46px]" src="../../assets/img/Logo.png" width="50" height="50" alt="">
      </a>
    </div>

    <!-- Search bar -->
    <div class="w-8/12 flex justify-center items-center">
      <app-search-bar></app-search-bar>
    </div>

    <!-- Links -->
    <div class="flex justify-end w-2/12 md:pr-4">
      <a routerLink="/profilo"
        class="text-white hover:text-gray-300 flex justify-center items-center bg-gray-400  rounded-full p-1">
        <img class="w-[30px] h-[30px] md:w-[40px] md:h-[40px]" src="../../../assets/img/iconamoon_profile-fill.svg"
          width="50" height="50" alt="">
      </a>
    </div>
  </div>
</nav>
