<nav class="p-3">
  <div class="container flex items-center">
    <!-- Logo -->
    <div class="w-fit">
      <a routerLink="/partite/risultati">
        <img class="w-fit h-fit" src="../../assets/img/Logo.png" width="50" height="50" alt="">
      </a>
    </div>

    <!-- Search bar -->
    <div class="w-full flex px-5 justify-center">
      <app-search-bar></app-search-bar>
    </div>

    <!-- Links -->
    <div class="w-fit">
      <a routerLink="/profilo" class="text-white hover:text-gray-300">
        <img class="rounded-full" src="https://via.placeholder.com/50x50" width="50" height="50" alt="">
      </a>
    </div>
  </div>
</nav>
