<div class="relative flex flex-col items-center h-[100vh]">
  <form *ngIf="FirstForm" class="mt-24" (ngSubmit)="showSecondForm()" [formGroup]="signUpForm" #formGroup="ngForm">
    <div class="relative mb-4">
      <h3 class="mb-[44px] text-center text-black text-[28px] font-semibold font-Genera">
        Lieto di conoscerti...
      </h3>
      <!-- NOME -->
      <input
        formControlName="firstname"
        [ngClass]="getValidationClass(formGroup, 'firstname')"
        type="text"
        id="nome"
        name="nome"
        placeholder="Nome"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-hoops-primary text-neutral-500 text-opacity-60 text-xl font-light font-Poppins"
        />
        <span
          class="absolute bottom-0 left-0 right-0 h-[2px] bg-hoops-primary"
        ></span>
    </div>
    <div class="relative mb-4">
      <!-- COGNOME -->
      <input
        formControlName="lastname"
        [ngClass]="getValidationClass(formGroup, 'lastname')"
        type="text"
        id="cognome"
        name="cognome"
        placeholder="Cognome"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-hoops-primary text-neutral-500 text-opacity-60 text-xl font-light font-Poppins"
      />
      <span
        class="absolute bottom-0 left-0 right-0 h-[2px] bg-hoops-primary"
      ></span>
    </div>
    <button
      type="submit"
      class="p-2 w-[300px] h-[35] rounded-[5px] border border-black text-center text-white text-base font-semibold font-Genera bg-hoops-primary"
    >
      Continua
    </button>
  </form>

  <form *ngIf="SecondForm" class="mt-24" [formGroup]="signUpForm" #formGroup="ngForm">
    <h3 class="mb-[44px] text-black text-[28px] font-semibold font-Genera">
      Completa la registrazione
    </h3>
    <!-- Controllare perché allarga tutto il div dell'input  -->
    <div class="relative mb-4">
      <!-- MAIL -->
      <input
        formControlName="email"
        [ngClass]="getValidationClass(formGroup, 'email')"
        type="email"
        name="email"
        placeholder="Email"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-hoops-primary text-neutral-500 text-opacity-60 text-xl font-light font-Poppins"
      />
      <span
        class="absolute bottom-0 left-0 right-0 h-[2px] bg-hoops-primary"
      ></span>
    </div>
    <div class="relative mb-4">
      <!-- PASSWORD -->
      <input
        formControlName="password"
        [ngClass]="getValidationClass(formGroup, 'password')"
        type="password"
        name="password"
        placeholder="Password"
        class="p-2 w-[300px] h-[35] rounded-[5px] border-b border-hoops-primary text-neutral-500 text-opacity-60 text-xl font-light font-Poppins"
      />
      <span
        class="absolute bottom-0 left-0 right-0 h-[2px] bg-hoops-primary"
      ></span>
    </div>
    <button
      (click)="signup()"
      class="p-2 w-[300px] h-[35] rounded-[5px] border border-black text-center text-white text-base font-semibold font-Genera bg-hoops-primary"
    >
      Registrati
    </button>
  </form>

</div>