<div class="h-[90vh]">
  <div class="flex justify-center items-center drop-shadow-lg">
    <div class="w-fit flex flex-col bg-hoops-secondary rounded-md text-center text-white p-4 mt-[20vh] mx-8">
      <h2 class="text-xl my-4 font-bold drop-shadow">Visita il nostro Blog</h2>
      <p class="my-4 drop-shadow">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima asperiores velit
        debitis ea quisquam nihil doloribus at necessitatibus natus fugit ipsum culpa facere, eius ullam, veritatis
        odit. Iste, eaque eveniet?</p>
      <div class="flex flex-col items-center">
        <a href="http://hoopsdata.ddns.net/wordpress"
          class="drop-shadow py-3 my-3 w-full h-fit rounded-md text-center text-base font-semibold font-Genera bg-hoops-primary">Vai
          al Blog</a>
      </div>
    </div>
  </div>
</div>
