@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p{
  font-size: 18px;
}

.bg-hoops-primary{
  background-color: #8D66B7;
}
.bg-hoops-secondary{
  background-color: #E58C38;
}

.text-hoops-primary{
  color: #8D66B7;
}
.text-hoops-secondary{
  color: #E58C38;
}

border-hoops-primary{
  border-color: #8D66B7;
}
border-hoops-primary{
  border-color: #E58C38;
}