<mat-form-field class="w-full">
  <div class="flex items-center justify-between">
    <button
      mat-icon-button
      (click)="reduceDate()"
      class="flex items-center justify-center w-10"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <input
      (click)="openPicker()"
      matInput
      [matDatepicker]="picker"
      class="flex-grow-0 mx-4"
      readonly
      (dateChange)="onChange($event)"
      [(ngModel)]="selectedDate"
    />
    <button
      mat-icon-button
      (click)="incrementDate()"
      class="flex items-center justify-center w-10"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
