<section class="h-[100%]">
    <div class="flex flex-col justify-center items-center">
        <!-- Logo -->
        <div class="flex w-full md:w-[30%] h-[180px] justify-center items-center my-10">
            <img src="../../../assets/HoopsData_logo.svg" alt="" class="absolute h-[600px]">
        </div>

        <!-- Titolo -->
        <div
            class="flex justify-center items-center w-[342px] text-center text-purple-950 text-[28px] font-semibold font-Genera">
            NBA Espresso
        </div>

        <!-- Sottotitolo -->
        <div
            class="flex justify-center items-center w-[329px] text-center text-orange-400 text-xl font-extrabold font-Poppins mt-5">
            VIVI IL CAMPO OVUNQUE TU SIA
        </div>

        <div class="flex flex-col md:flex-row">
            <!-- Par 1 -->
            <div class="w-[316px] mt-5 px-5 md:mx-5">
                <span class="text-black text-sm font-normal font-Poppins">Siamo il </span>
                <span class="text-orange-400 text-sm font-semibold font-Poppins">primo sito italiano dedicato interamente al
                    mondo dell’NBA</span>
                <span class="text-black text-sm font-normal font-Poppins">, creato con passione da giovani talenti della
                    Fondazione ITS ICT Piemonte.</span>
            </div>
            <!-- Img 1 -->
            <div class="md:mx-5">
                <img class="w-[321px] h-52 rounded-[10px] mt-5" src="../../../assets/img/hoopsdata-its-ict-piemonte.png" />
            </div>
        </div>

        <div class="flex flex-col md:flex-row-reverse md:mt-5">
            <!-- Par 2 -->
            <div class="w-[319px] mt-5 px-5 md:mx-5">
                <span class="text-orange-400 text-sm font-semibold font-Poppins">La nostra missione è offrirti una guida
                    completa attraverso le statistiche live NBA</span>
                <span class="text-black text-sm font-normal font-Poppins">, fornendo risultati, analisi e approfondimenti
                    sulle prestazioni dei giocatori. Da notizie in tempo reale a highlights, </span>
                <span class="text-orange-400 text-sm font-semibold font-Poppins">siamo qui per creare un'esperienza
                    coinvolgente per gli appassionati di basket.</span>
            </div>
            <!-- Img 2 -->
            <div class="md:mx-5">
                <img class="w-[321px] h-52 rounded-[10px] mt-5" src="../../../assets/img/hoopsdata-campo-da-basket.jpeg" />
            </div>
        </div>

        <!-- Par 3 -->
        <div class="w-[315px] mt-5">
            <span class="text-black text-sm font-medium font-Poppins">Che tu ti stia gustando un caffè al mattino, al
                bar nel pomeriggio o con gli amici la sera, su </span>
            <span class="text-orange-400 text-sm font-bold font-Poppins">HoopsData è sempre il momento perfetto per
                vivere il campo ovunque tu sia.</span>
        </div>

        <div class="w-[279px] text-center text-orange-400 text-[22px] font-extrabold font-Poppins mt-[50px]">Entra nel
            nostro mondo e connettiti con la tua passione per il basket.</div>
        <div class="w-[200px] h-[35px] bg-orange-400 rounded-md border border-black justify-center items-center gap-2.5 inline-flex mt-[50px] mb-[50px]">
            <div class="text-center text-white text-base font-semibold font-Genera">
                <a routerLink="/profilo">ENTRA IN CAMPO</a>
            </div>
        </div>


    </div>
</section>