<div class="flex">
  <!-- Tab "Risultati" -->
  <button routerLink="/partite/risultati"
    class="flex-1 py-2 px-4 text-center bg-hoops-primary text-white hover:bg-hoops-primary-10 hover:border-b-4 hover:border-hoops-primary">
    Risultati
  </button>

  <!-- Tab "Programmate" -->
  <button routerLink="/partite/programmate"
    class="flex-1 py-2 px-4 text-center bg-hoops-primary text-white hover:bg-hoops-primary-10 hover:border-b-2 hover:border-hoops-primary">
    Programmate
  </button>
</div>
